body {
    padding: 0;
    margin: 4rem;
    background-color: #181b20;
    color: #fff;
    font-size: 1em;
    font-family: calibri, sans-serif;
}

a {
    text-decoration: none;
	color: #fff;
    padding-right: 1rem;
}

p {
    font-family: monospace;
}

#section-break {
    margin-top: 10rem;
}